.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 600px;
  padding-top: 100px;
}

.blockTipes {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 465px;
  overflow-y: auto;
}

.blockTipes::-webkit-scrollbar {
  width: 8px;
}

.blockTipes::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.blockTipes::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  height: 292px;
}

.blockItem {
  max-width: 536px;
  min-height: 80px;
}

.blockString {
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-template-rows: repeat(auto-fit, 80px);
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}

.blockPrice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  width: 215px;
  height: 64px;
  margin: 0;
  padding: 0;
  color: #f2f2f3;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  box-shadow: 0px 0px 16px 8px rgba(51, 51, 255, 0.25),
    0px 0px 8px 8px rgba(51, 51, 255, 0.25);
  filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
  transition: opacity 0.3s linear;
}

.button:hover {
  opacity: 0.6;
}

.blockCurrencyIcon {
  width: 24px;
  height: 24px;
  transform: scale(1.5, 1.5);
}

/*
.blockDrag {
  visibility: hidden;
} */
