.header {
  max-width: 1920px;
  max-height: 88px;
  padding: 16px 0 16px 0;
  background-color: #1c1c21;
}

.blocks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  margin: 0 289px 0 112px;
}
